body {
  padding: 10px;
      font-family: sans-serif;
}

#map_search {
    font-family: sans-serif;
    max-width: 1400px;
    position: relative;
    margin-top: 0px;
  }

  #map_search_dropdown_container{

}

.select2,
.select2-results__option {
  font-family: sans-serif;
  font-size: 12px;
}

#map_search h3 {
    color: #006AB4;
    font-weight: bold;
    position: relative;
    padding-top: 6px;
    padding-bottom: 0px;
    margin-bottom: 17px;
    font-size: 16px;
    margin: 0 auto;

}

#map_search_dropdown_container {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 250px;
  height: 25px;
}

#map_search .yearInput {
  padding: 4px;
  line-height: 23px;
      font-family: sans-serif;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

#map_search .select2-selection__rendered,
#map_search .select2-selection--single {
  height: 35px;
  line-height: 34px;
}

#map_search .select2-container--default .select2-selection--single .select2-selection__arrow b{
  margin-top: 1px;
}

#map_search_buttons {
  margin: 0 auto; 
  text-align: center;
  width: 250px;
  margin-top: 10px;
}

.map_search_button {
    display: inline-block;
    border: 1px solid grey;
    width: 110px;
    font-weight: normal;
    height: 23px;
    padding-top: 10px;
    background-color: #0069B7;
    color: #FFF;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.map_search_button:hover {
    background-color: #0D72C8;
}

#map_search_message { 
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  background-color: #2f5c7d;
    color: #FFF;
    display: inline;
    padding: 3px 7px;
    border-radius: 3px;
    display: none;

}
    
#map_search .tabLabel {
  fill: #006AB4;
  font-size: 11px;
}

.axis text {
  font-size: 12px;
  fill: #919090;
}
 
.axis path {
  visibility: hidden;
}
 .axis line {
  fill: none;
  stroke: #919090;
  stroke-width: 1px;
}

.axis .minor {
  stroke: red;
  stroke-width: 0.4px;
}

 #map_search_year_input {
   display: none;
 }

  #map_search svg { display: block !important; }

  #map_search_results {
        font-size: 12px;
    border: 1px solid #BFBFBF;
    padding: 7px;
    display: inline-block;
    margin-top: 7px;
    width: auto;
    position: absolute;
    bottom: 110px;
    left: 5px;
    font-size: 10px;
    color: #565656;
    background-color: rgba(255,255,255,0.7);
  }

  #map_search_results img {
  // position: relative; 
  // top: 15px;
  // left: 15px;
  }

  #map_search_results_name {
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
  }

  #map_search_results td {
    font-size: 12px;
    color: #565656;
    vertical-align: middle;
  }
  #map_search_results table {
    margin-top: 2px;
  }

  #map_search_results_files,
  #map_search_results_fonds {
    color: #006AB4 !important;
    font-weight: bold;
    text-align: right;
    padding-left: 4px;
    padding-top: 3px;
    font-size: 13px !important;
  }

/* #### Mobile Phones Portrait or Landscape #### */
@media only screen and (max-width: 690px) {
  /* some CSS here */

  #map_search_results {
    width: 100%;
    max-width: 227px;
    margin-top: 5px;
    position: static;
  }

  #map_search {
     margin: 0 auto;   
  }
  #map_search svg { display: none !important; }

  #map_search_dropdown_container {
    position: relative;

  }

  #map_search h3 {
    font-size: 13px;
    margin-bottom: 5px;
  }

 #map_search_year_input {
   display: block;
   margin-top: 15px;
   max-width: 247px;
 }
  #map_search_buttons {
    padding-top: 10px;
    margin: 0px;
  }

}
